/* Projekti Web - Myhedin Zika */
* {
    box-sizing: border-box;
}
html {
  /*font-size: 16px;*/
  font-size: 1rem;
}

body {
    font-family: verdana, georgia, sans-serif;
    background-image: url(../images/page-background.jpg);
    background-repeat: no-repeat;
    background: url(../images/page-background.jpg) no-repeat #000;
    background-size: cover;
}

img {
    display: block;
}

.page {
    width: 100%;
    min-width: 850px;
    max-width: 1100px;
    margin: 0 auto;
    margin: 70px auto 0;
    padding: 8px 5px 16px;
    background: url(../images/page-background-overlay.png);
    background-size: cover;
}




.page-header {
    position: relative;
}

.logo-link {
    position: absolute;
    display: inline-block;
    margin-top: -70px;
}


h2,
.heading {
    font-family: verdana, helvetica, sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
}

article .heading {
    font-size: 18px;
    font-size: 1.125rem;
}

article p {
    font-size: 14px;
    font-size: 0.875rem;
}

article + article {
    margin-top: 1em;
}

.heading span {
    color: #33ccff;
}

.heading_p span{
    color: #33ccff;
}
.services .main-container p{
    padding-right: 3em;
}

article .heading{
    margin-top: 0px;

}

.thumbnail {
    float: left;
    border: solid 0px #99ccff;
    margin: 0 1.2em 1em 0;
}
.homepage .thumbnail{
    border: solid 3px #99ccff;
    
}

.first-row{
    text-align: left;
}


.second-row{
    width: 100%;
    text-align: left;
}
.second-row .thumbnail{
    float: right;
}

.third-row .thumbnail{
    float: left;
    float: right;
}




.power-button {
    float: right;
    margin-right: 1em;
}

.main-nav {
    font-family: arial, helvetica, sans-serif;
}



/* Navigation */

.nav-container {
    height: 54px;
    border: solid 1px #999999;
    padding: 5px 7px 4px;
    margin-bottom: 1em;
    background: url(../images/navigation-background-background.png) 0 0 #000000 repeat-x;
}

.main-nav {
    border: solid 1px #000000;
    background: url(../images/navigation-background.png) 0 50% #000000 repeat-x;
}

.main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav li {
    float: left;
    border-left: solid 1px rgba(255,255,255, 0.5);
}

.main-nav li:first-child {
    border-left: 0;
}

.main-nav li.active {
    background: url(../images/navigation-active-background.png) 0 50% repeat;
}
.main-nav li a {
    display: inline-block;
    line-height: 40px;
    padding: 0 1.9em;
    color: #fff;
    text-decoration: none;
}
.main-nav li a:hover,
.main-nav li a:focus {
    background: url(../images/navigation-active-background.png) 0 50% repeat;
}



/* Banner */

.flexible-image {
    width: 100%;
    height: auto;
}

.banner-main {
    position: relative;
    width: 100%;
    background: yellow;
    border: solid 1px #666666;
}

.banner-ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 2%;
}



.banner-footer {
    position: relative;
    width: 100%;
    text-align: center;
    border: solid 1px #666666;
    border-top: 0;
}

.banner-footer .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Century Gothic", sans-serif;
    height: 100%;
    color: #ffffff;
}

.banner-footer .content-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.banner-footer .content-left {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 20px;
    color: #99ccff;
    xmargin-top: 50%;
}

.banner-footer .content-right {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin: 0 20px;
}

.banner-footer .content-center:before,
.banner-footer .content-left:before,
.banner-footer .content-right:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}


.image-button {
    display: inline-block;
    vertical-align: middle;
}


.main-container {
    xbackground-image: url(../images/content-background.jpg);
    background-image: url(../images/content-background-blur.png);
    background-size: cover;

}

/* Main content */

main {
    color: #fff;
}

.left-col {
    float: left;
    width: 70%;
    padding: 2em;
}

.right-col {
    float: right;
    width: 30%;
    padding: 2em;
}

.first-row{
    width:100%;
    clear:both;
}
.second-row{
    width:100%;
    clear:both;
}
.third-row{
    width: 100%;
    clear: both;
}
.first{
    width: 42%;
    float: left;
}
.second{
    width: 16%;
    float: left
}
.third{
    width: 42%;
    float: left;
}
.about .main-container{
     padding: 0em 0.5em 0.5em 2em;
}
.clients .main-container{
     padding: 0em 0.5em 0.5em 2em;
}
.services .main-container{
    padding: 0em 0.5em 0.5em 2em;
}
.contact .main-container{
     padding: 0em 0.5em 0.5em 2em;
}


.gallery-first{

    width: 100%;
    padding: 0em 0.5em 0.5em 2em;
    clear: both;

}
.gallery-1{
    width:22%;
    margin-right: 3%;
    float:left;
    border: solid 1px #AD2727;
}
.gallery-2{
    width:22%;
    margin-right: 3%;
    float: left;
    border: solid 1px #AD2727;
}
.gallery-3{
    width:22%;
    margin-right: 3%;
    float:left;
    border: solid 1px #AD2727;
}
.gallery-4{
    width:22%;
    margin-right: 3%;
    float: left;
    border: solid 1px #AD2727;
}
.gallery-second{
    width:100%;
    clear: both;
    margin-top: 20px;
     padding: 0em 0.5em 0.5em 2em;
    
}
.gallery-5{
    width:47.2%;
    margin-right: 2.8%;
    float: left;
    border: solid 1px #AD2727;
}
.gallery-6{
    width: 47.2%;
    float: left;
    border: solid 1px #AD2727;
}
.gallery-third{
    width: 100%;
    margin-top: 20px;
    padding: 0em 0.5em 0.5em 2em;
}
.gallery-7{
    width:22%;
    margin-right: 3.3%;
    float:left;
    border: solid 1px #AD2727;
}
.gallery-8{
    width:22%;
    margin-right: 2.7%;
    float:left;
    border: solid 1px #AD2727;
}
.gallery-9{
    width:22%;
    margin-right: 3.3%;
    float:left;
    border: solid 1px #AD2727;
}
.gallery-10{
    width:22%;
    float:left;
    border: solid 1px #AD2727; 
}

.contactForm{
    padding-left: 1.5%;
}
.clients-1{
    border: solid 1px #AD2727;
}
.clients-2{
    border: solid 1px #AD2727;
}
.clients-3{
    border: solid 1px #AD2727;
}
.client-fb{
    width: 30%;
    float: left;
    margin-left: 1%;
    
}

.client-google{
    width: 33%;
    float: left;
    margin-left: 2.5%;
}

.client-twitter{
    width:33%;
    float: left;
}
.p_client_fb{
    width: 210px;
    text-align: left;
}
.p_client_g{
    width: 210px;
    text-align: left;
}
.p_client_t{
    width: 210px;
    text-align: left;
}
.services-top-first{
    width: 48%;
    float: left;
    text-align: left;
}
.services-top-second{
    width: 48%;
    float: left;
    text-align: left;
}
.services-middle-first{
    width: 48%;
    float: left;
    text-align: left;
}
.services-middle-second{
    width: 48%;
    float: left;
    text-align: left;
}
.services-bottom-first{
    width: 48%;
    float: left;
    text-align: left;
}
.services-bottom-second{
    width: 48%;
    float: left;
    text-align: left;
}
.services .main-container #seeUsersPostButton{
	float: right;
	 background-color: #f44336; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	border-radius: 20px;
	margin-right: 25px;
	margin-top: -5px;
}

.userPostsContent{
    color: #fff;
}

article {
    clear: both;
}

.play-icon {
    display: inline-block;
}

.featured-links-list {
    border-left: solid 1px #666666;
    padding: 0.5em 0 0.5em 2em;
    margin-left: -2em;
    list-style: none;
}

.featured-links-list li {
    margin-bottom: 0.5em;
}

.featured-links-list a {
    display: block;
    border: solid 1px #666;
    xpadding: 0.2em;
    padding: 0 0.3em;
    color: #ffffff;
    background: rgba(0,0,0, 0.2);
    text-decoration: none;
}

.item-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}



/* Footer */

.page-footer {
    width: 600px;
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
    border-top: solid 1px #666;
    padding-top: 1em;
    margin: 0 auto;
    text-align: center;
    xbackground: #ffffff;
    color: #ffffff;
}
/* Form */

label {
    display: block;
    margin: 0 0 0.2em;
}

.right-col input {
    width: 80%;
    min-width: 200px;
    padding: 0.5em;
    margin: 0 0 1.5em;
    xmargin-bottom: 1em;
}

.right-col button {
    padding: 0.5em 1em;
}
.signup-container{
	padding-left: 15px;
}
.signup-container input{
	min-width:170px;
	min-height:32px;
	margin: 0 0 0.8em;
}
.signup-container button{
	min-height: 40px;
	min-width: 170px;
	margin-top: 10px;
	
	
}

/* Utility */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* error messages */
span.error-message {
    background-color: #111469;
    color: red;
    width: 30%;
    font-family: verdana, georgia, sans-serif;
    display: none;
}
.logIn{
    color: #fff;
}